<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>My Blogs</title>
</head>
<body class="mt-5">
    <div class="container" >
        <form action="/addBlog" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">choose cover image</label>
                <input class="form-control" type="file" id="coverImg" name="coverImg">
              </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" aria-describedby="title">
      
          </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">write blog</label><br>
              <textarea id="body" name="body" rows="4" cols="50"></textarea>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    <%- include('./partials/scripts.ejs') %>
</body>
</html>